{% extends "base.html" %}
{% block title %}change password{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/profile.css" %}'>
{% include "nav.html" %}

<style>
    h1{
    font-family:Arial, Helvetica, sans-serif
}

.container{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
    
input {
    width: 50%;
    padding: 15px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(203, 180, 180);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
  }



.grid-container{
    font-size: 30px;
}
#link {
    background-color: #0ed089;
    border: none;
    color: white;
    padding: 16px 50px;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    width: auto;

}

#link:hover {
    color: black;
    background-color: #0db476;

}
.ul{
    font-size: 20px;
    text-decoration: none;
    background-color: none;
    width: auto;
}


    
</style>

<h1>Change password</h1>
<div>
    <form method="POST" >
        {% csrf_token %}
        <div class="container" >
            <h3 class='grid-container' >Old Password</h3>
            <div class="forms"> {{ form.old_password }} </div>
            <h3 class='grid-container' >New Password</h3>
            <div class="forms"> {{ form.new_password1 }} </div>
            <ul class="ul">
                <li>Your password can’t be too similar to your other personal information.</li>
                <br><li>Your password must contain at least 8 characters.</li><br>
                <li>Your password can’t be a commonly used password.</li><br>
                <li>Your password can’t be entirely numeric.</li></ul>
            <h3 class='grid-container' >New Password Confirmation</h3>
            <div class="forms"> {{ form.new_password2 }} </div>
        </div>
        <button id="link">change password</button>
    </form>
</div>


{% endblock %}


