{% extends "base.html" %}
{% block title %}change password{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/profile.css" %}'>
{% include "navbar.html" %}

<h1>Change password</h1>
<div>
    <form method="POST" >
        {% csrf_token %}
        <div class="container" >
            <h3 class='grid-container' >Old Password</h3><br>
            <div class="forms"> {{ form.old_password }} </div>
            <h3 class='grid-container' >New Password</h3><br>
            <div class="forms"> {{ form.new_password }} </div>
            <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
            <h3 class='grid-container' >New Password Confirmation</h3><br>
            <div class="forms"> {{ form.new_password2 }} </div>
        </div>
        <button>change password</button>
    </form>
</div>

{% endblock %}


