
{% block content %}
{% load static %}
<link rel="shortcut icon" href="{% static 'css/ttlicon.ico' %}">


<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800;1000&display=swap" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'>
<style>

</style>
<title>Login</title>
<body>
<center><div class="grid">
    <p>Enter the relavent login details</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="link" type="submit" >Log In</button>
        <a id="link" href="{% url 'register' %}">Create Account</a>
    </form>
</div></center>
</body>
{% endblock %}