{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block content %}
{% include "nav.html" %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alo | E-Learning Platform</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800;1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="section-1">
        <p class="first-line">Learn. Anywhere. Anytime.</p>
        <h1>
          Start your journey to success with <br />
          <strong class="alo-elearning">alo e-learning</strong>
        </h1>
        <a href="#" class="start-btn">Get started</a>

        <!-- <img src="1-start.png" class="1-img" /> -->
      </div>
    </header>
  </body>
</html>
{% else %}
<p>not logged in</p>
{% endif %}


{% endblock %}