<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(173, 184, 179);
        border-radius: 5px;
    }

    li {
        float: left;
    }

    nav {
  position: -webkit-sticky;
  position: sticky; top: 0px;
}


    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        font-family: sans-serif;
        color: black;
    }

    .active {
        background-color: azure;
    }

    li a:hover {
        background-color: rgba(195, 217, 219, 0.841);
        animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #fbd6cf;
	font-weight: bold;
    }
    li:active {
  transform: translateY(4px);
}
@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}



</style>

<nav clas="sticky" >
<ul>
  <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'lecturers' %}">lecturers</a></li>

    <li><a href="{% url 'about' %}">about</a></li>
    {% if user.is_authenticated %}
    <li style="float:right ;"><a href="{% url 'logout' %}">logout</a></li>
    <li><a href="{% url 'session' %}">sessions</a></li>
    <li><a href="{% url 'profile' %}">profile</a></li>

    {% else %}
    <li><a href="{% url 'login' %}">login</a></li>
    {% endif %}


</ul>
</nav>